.boxForWholePage {

  background-color: rgba(220, 220, 220, 0.9);

}
h1, h3, h4, h5 {
  text-align: center;
}

h3,  h4 {
    padding-bottom: 60px !important;
}


.row {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;

}

.glacierPhoto, .glacier, .buddha, .buddhaPhoto, .flathead, .flatheadPhoto, .yellowstone, .yellowstonePhoto {
  flex-basis: 50%;
  background-color: black;
  color: darkgray;
}


.attractionPhotos {
height: 100%;
width: 100%;
}
