
/*.flexbox-container {
  display: flex;
}

.call-out {
flex-wrap: wrap;
}*/
.navbar {
    color: rgb(218,190,206);
    position: relative;
    top: 0;

}

#gettingMarried {

  font-family: Gill Sans, Verdana;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

#weddingDate {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
}
#fiveOClock {
  word-wrap: normal;
}

.boxed {
  background-image: url('images/roses.JPG');
  color: white;
  height: 200px;
  border-width: medium;
  border-style: solid;
  border-color: rgba(135, 20, 79, 0.9);
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
/*font-family: 'Great Vibes', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Nothing You Could Do', cursive;*/
}

@media screen and (max-width: 580px) {

  .jumbotron {
    background-image: url('images/jumbo.PNG');
    background-size: cover;
    padding: 0px 0px 150px 0px;
  }
  .getting {
    margin: 0pt 0pt 0pt 30pt;
    color: rgb(5, 5, 5);
    }

}

@media screen and (min-width: 581px) {

  .jumbotron {
    background-image: url('images/jumbo.PNG');
    background-size: cover;
    padding: 0px 0px 450px 0px;
  }
  .getting {
    color: black;
    text-align: center;
    }

}



@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  #happy {
    max-width: 100%;
    margin-left: 30%;
  }
}


.boxForDescriptions {
  background-color:  rgba(20,100,106, 0.4);
}
@media screen and (max-width: 580px) {

  .jumbotron {
    background-image: url('images/jumbo.PNG');
    background-size: cover;
    padding: 0px 0px 150px 0px;
  }

  #goingToMontanaHeader {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
  }

  .montana {
    font-size: 40px;
  }

  .attractionHeader,  .attractionDescription {
      padding-bottom: 60px !important;
  }
  .attractionHeader {
    font-family: Gill Sans, Verdana;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .attractionDescription {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
  }
}

@media screen and (min-width: 581px) {

  .jumbotron {
    background-image: url('images/jumbo.PNG');
    background-size: cover;
    padding: 0px 0px 450px 0px;
  }

  #goingToMontanaHeader {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 31px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .montana {
    font-size: 60px;
  }

  .attractionHeader,  .attractionDescription {
      padding-bottom: 60px !important;
  }
  .attractionHeader {
    font-family: Gill Sans, Verdana;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .attractionDescription {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 31px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
  }
}
.title, .attractionHeader, .attractionDescription, h5 {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;

}

.glacierPhoto, .glacier, .buddha, .buddhaPhoto, .flathead, .flatheadPhoto, .yellowstone, .yellowstonePhoto {
  flex-basis: 50%;
  color: white;
  background-image: url("images/roses.JPG");
  background-repeat: no-repeat;
}


.attractionPhotos {
height: 100%;
width: 100%;
}
