.flexbox-container {
  display: flex;
}

.call-out {
flex-wrap: wrap;
}

 .sunflower {
background-image: url("photos/Sunflower.jpg");
background-repeat: no-repeat;
background-size: contain;
margin: -6% 50% 10% 50%;
height: 770px;
width: 770px;
display: flex;
}

.gettingMarried {
  font-family: 'Parisienne', cursive;
  color: rgb(255,227,76);
  margin: auto;
  text-align: center;
  }
