body {
  background-color: rgb(66,4,32);

}
#daisy {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

}
#Sunflower {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 300px;
}
.gettingMarried {
  font-family: 'Parisienne', cursive;
  color: rgb(255,227,76);

}
container {
  width: 50%;
}
h1, h3, h4, h5 {
  text-align: center;
  margin: 20px;
}

h3,  h4 {
    padding-bottom: 60px !important;
}
h5{
 flex:
 }

.row {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.glacierPhoto, .glacier, .buddha, .buddhaPhoto, .flathead, .flatheadPhoto, .yellowstone, .yellowstonePhoto {
  flex-basis: 50%;
  background-color: black;
  color: darkgray;
}


.attractionPhotos {
height: 100%;
width: 100%;
}
